---
import Navigation from '../components/Navigation.astro'
import { DarkMode, Link, SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

/**
 * Header Component
 *
 * @description A component that displays the header of the website
 */
---

<header>
  <SkipLink />
  <Navigation>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">
        Project
        <Icon aria-hidden="true" name="lucide:chevron-down" size="32" />
      </button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <Link href="/design">Design</Link>
        </li>
        <li class="submenu-item">
          <Link href="/description">Description</Link>
        </li>
        <li>
          <Link href="/engineering">Engineering</Link>
        </li>
        <li>
          <Link href="/contributions">Contributions</Link>
        </li>
      </ul>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">
        Wet Lab
        <Icon aria-hidden="true" name="lucide:chevron-down" size="32" />
      </button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <Link href="/experiment">Experiment</Link>
        </li>
        <li class="submenu-item">
          <Link href="/measurement">Measurement</Link>
        </li>
        <li>
          <Link href="/results">Results</Link>
        </li>
        <li>
          <Link href="/notebook">Notebook</Link>
        </li>
        <li>
          <Link href="/parts">Parts</Link>
        </li>
        <li>
          <Link href="/our-journey">Our Journey</Link>
        </li>
      </ul>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">
        Dry Lab
        <Icon aria-hidden="true" name="lucide:chevron-down" size="32" />
      </button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <Link href="/model">Model</Link>
        </li>
        <li class="submenu-item">
          <Link href="/hardware">Hardware</Link>
        </li>
      </ul>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">
        Human Practice
        <Icon aria-hidden="true" name="lucide:chevron-down" size="32" />
      </button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <Link href="/ihp">iHP</Link>
        </li>
        <li class="submenu-item">
          <Link href="/education">Education</Link>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <Link href="/safety/">Safety</Link>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">
        Team
        <Icon aria-hidden="true" name="lucide:chevron-down" size="32" />
      </button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <Link href="/design">Members</Link>
        </li>
        <li class="submenu-item">
          <Link href="/description">Attributions</Link>
        </li>
        <li>
          <Link href="/engineering">Sponsors</Link>
        </li>
        <li>
          <Link href="/contributions">Special Thanks</Link>
        </li>
      </ul>
    </li>
    <!-- <li class="menu-item highlight">
      <Link href="/awards">Awards </Link>
    </li> -->
    <!-- <li class="menu-item type-icon animate-rotate">
      <Link href="https://github.com/incluud/accessible-astro-starter">
        <Icon aria-hidden="true" name="lucide:github" />
        <span class="sr-only">Go to the GitHub page</span>
      </Link>
    </li>
    <li class="menu-item type-icon animate-rotate">
      <DarkMode>
        <Icon aria-hidden="true" name="lucide:moon" slot="light" />
        <Icon aria-hidden="true" name="lucide:sun" slot="dark" />
      </DarkMode>
    </li> -->
  </Navigation>
</header>

<style lang="scss" is:global>
  header {
    .type-icon {
      display: block;
      margin-inline: -7px;

      svg {
        inline-size: 30px;
        block-size: 30px;
      }
    }
  }
</style>
