---
import { Link } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import Lottie from 'lottie-react'
import animationData from '../assets/animate/logo-dynamic.json'

/**
 * Hero Component
 *
 * @description A component that displays a hero section with a title, description, and image
 */
interface Props {
  /**
   * The source URL for the image
   */
  src?: string
}

const { src = '/astronaut-hero-img.webp' }: Props = Astro.props
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-2 items-center gap-24">
      <Lottie
        className="block w-[70vw] max-w-[800px] h-auto ml-[-80px] lg:ml-[-100px]"
        animationData={animationData}
        loop={true}
        autoplay={true}
        client:only="react"
      /> 
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-9xl">
          <slot><span class="text-gradient">Hp Busters</slot>
        </h1>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <Link
            href="/description"
            isButton
            type="success"
            animateOnHover
            animationType="boop"
          >
            Project Discription
          </Link>
          <!-- <Link
            href="/team/members"
            isButton
            type="secondary"
            animateOnHover
            animationType="boop"
          >
            Team Members
          </Link> -->
        </div>
      </div>     
    </div>
  </div>
</section>

<style lang="scss">
  h1 {
    text-wrap: unset;
    font-family: 'PoetsenOne', sans-serif;
  }

  .text-gradient {
    background: linear-gradient(
    45deg,
    #288f94, 
    #4fbdc2,
    #ffe1c0 80%,

  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
</style>
