---
import { Link } from 'accessible-astro-components'

/**
 * Logo Component
 *
 * @description Logo description
 */
interface Props {
  /**
   * Whether to load the image eagerly or lazily
   * @default 'eager'
   */
  loading?: 'eager' | 'lazy'
}

const { loading = 'eager' }: Props = Astro.props
---

<Link href="/" class="flex items-center gap-4">
  <img
    src="https://static.igem.wiki/teams/5870/icon/team-logo.webp"
    alt="Peking"
    width="65"
    loading={loading}
  />
  <span class="font-bold">Peking</span>
</Link>
